/* Universal selector(*) selects all element and set their value defined in the block*/
* {
  margin: 0;
  padding: 0; }

.button-main:link {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border-radius: 100px;
  background-color: orange; }

nav {
  margin: 0;
  background-color: yellow;
  height: 40px;
  text-align: center;
  padding-top: 15px; }
  nav::after {
    content: "";
    clear: both;
    display: table; }

.navigation {
  list-style: none;
  float: left; }
  .navigation li {
    padding-left: 20px;
    display: inline-block;
    margin-left: 30px; }
    .navigation li:first-child {
      margin: 0; }
    .navigation li a:link {
      text-decoration: none;
      color: #333; }

.button {
  float: right;
  padding-right: 20px;
  height: 30px;
  width: 80px; }

.button-main:hover {
  background-color: #b37400; }
