.header{
    height: 85vh;

    /* linear-gradient() function let put any color on any background. we must define at least
    two color and set starting point and direction */
    background-image:linear-gradient(to right bottom, 
     rgba($color-primary-light, 0.8),
     rgba($color-primary-dark, 0.8)), 
     url(../img/hero-small.jpg);

     /* background-image:radial-gradient(red, green, blue); */

    background-size: cover;
    background-position: top;
    position: relative;
    
    ////we should prefix "-webkit-" to actually works across the different browser. 
    //@supports feature query for older browser

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        height: 95vh;
    }

    @include respond(phone){
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    height: 75vh;
    }

    //RESPONSIVE IMAGE CSS
    @media(min-resolution: 192dpi) and (min-width: 37.5em),
    // it will work only when pixel ration of a screen is 2x(2000) it only gonna on safari.
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    (min-width:125em){
        background-image:linear-gradient(to right bottom, 
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)), 
        url(../img/hero.jpg);
    }

    @include respond(big-desktop){
        background-image:linear-gradient(to right bottom, 
        rgba($color-secondary-light, 0.8),
        rgba($color-secondary-dark, 0.8)), 
        url(../img/hero.jpg);
    }

    /*Styling logo division */
    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
        transition: all .2s;

    }


    /*Styling logo */
    &__logo{
        height: 3.5rem;
        
        // &:hover{
        //     animation: moveInRight .2s ease-in;
        // 
    }
}
