.composition{
    position: relative;

    &__photo{
        width: 55%;
        border-radius: 2px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;

        @include respond(tab-port){
            float: left;
            position: relative;
            width: 33.3333333%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .2);

        }

        @include respond(phone){
            float: left;
            position: relative;
            width: 33.3333333%;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
            margin-bottom: 10rem;

        }

        //Placing images as per the specific value.
        &--p1 {
            left: 0;
            top: -2rem;

            @include respond(tab-port){
                top: -2rem;
                transform: scale(1.2);
            }
        }
        &--p2 {
            right: 0;
            top: 2rem;

            @include respond(tab-port){
                top: -1rem;
                transform: scale(1.3);
                z-index: 100;
            }

        }
        &--p3 {
            left: 20%;
            top: 10rem;

            @include respond(tab-port){
                top: 1rem;
                left: 0;
                transform: scale(1.1);
            }
        }

        &:hover{
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05);  //it zoom the specific element.
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }
    }
}