.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .30);
    transition: transform .3s;
    // transform: skewY(7deg);
    
    @include respond(tab-port){
        padding: 2rem;
    }


    &__icon{
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image:linear-gradient(to right, $color-primary-light, $color-primary-dark);

        //The background gets cliped exactly where the text is here icon is concidered text.
        -webkit-background-clip: text;
        color: transparent;

        @include respond(tab-port){
            margin-bottom: 0;
        }
    }
    &:hover{
        transform: translateY(-1.5rem) scale(1.03);
        box-shadow: 0 1.5rem 4rem rgba($color-secondary-light, .70);
    }
}