*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}

.container{
background-color: lightblue;
padding: 10px;
display:  flex;

// flex-direction: column;
justify-content: center;

// default value of align-items is "stretch"
align-items: center;

flex-wrap: wrap;

// align the rows along the cross axis.
align-content:flex-start;
}

.items{
background-color: gray;
padding: 20px;
margin: 15px;
// flex-grow: 1;
}

.i2{
    height: 200px;

    // flex-grow: 1;
    // flex-shrink: 0;

    // Instead of width flex-item use "flex-basis" property.
    // flex-basis:20%;

    // sort-hand property of above three
    // grow, shrink, basis
    flex: 0 1 300px;

}

.i4{
    // "align-selft" overwrites justify content property for individual item.
    align-self:flex-start;
    // by default flex items order is 0. it align by order.
    order: -1;

}